@use 'base/variables' as v;

.contenido-resumen {
    p {
        margin-bottom: 0.5rem;
    }

    span {
        color: v.$azul;
        font-weight: v.$bold;
        font-size: 1.8rem;
    }
}
.contenedor-servicio {
    padding: 0.5rem 0;
    border-bottom: 0.5px solid v.$gris;

    &:last-of-type {
        margin-bottom: v.$separacion;
    }
}

